.about {
    font-family: "Noto Sans", sans-serif;
    margin-inline: 10rem;
    margin-bottom: 5rem;
    text-align: justify;

    h2 {
        margin: 0;
        color: #800000;
    }

    ul li {
        font-weight: bold;

        span {
            font-weight: normal;
        }
    }
}