.org-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .image-upload {
        position: relative;
        display: inline-block;
    
        label {
            cursor: pointer;
    
            img {
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    
        input[type="file"] {
            display: none;
        }
    }
    

    input {
        padding: 0.5rem;
        width: 25%;
    }
}

// Media query for max-width 411px
@media (max-width: 411px) {
    .org-details {
        align-items: center; // Center align content for a better layout

        .image-upload {
            label {
                img {
                    width: 7rem; // Reduce image size for smaller screens
                    height: 7rem;
                }
            }
        }

        input {
            width: 80%; // Make input fields take up more space for better usability
        }
    }
}
