.hero {
    position: relative;
    height: 100vh;
    display: grid;
    place-items: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("/app/img/hero.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.5;
    }

    .hero-content {
        position: relative;
        text-align: center;
        font-family: "Noto Sans", sans-serif;

        button {
            font-family: "Noto Sans", sans-serif;
            padding: 0.5rem;
            border-radius: 0.25rem;
            border-width: 1px;
            border-color: black;
            cursor: pointer;
        }

        .highlight {
            background-color: #800000;
            color: white;
        }

        h1 {
            margin: 0;
            font-size: 3rem;
        }

        p {
            font-size: 1.25rem;
        }
    }
  }